*{
    margin: 0%;
}

.heading-container{
    position: static;
    background: #FFFFFF;
    box-shadow: 0px 12px 30px #7B7B7B29;
    padding-top: 20px;
    padding-left: 100px;
    height: 60px;
    font: normal bold 40px Inter;
}

#tasks{  
    color: #424242;
    margin-right: 5px;
}

#lists{
    color: #00A5EC;
}

.add-item{
    cursor: pointer;
    font: normal bold 25px Inter;
    padding-left: 79%;
    background: #F7F7F7;
    padding-bottom: 10px;
    padding-top: 10px;
}

.allcontain{
    filter: brightness(40%);
    -webkit-filter: brightness(40%);
}

.item-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: #F7F7F7;
    height: 55em;
}

.items{
    width: 400px;
    height: 400px;
    background: #FFFFFF;
    border: 2px solid #EDEDED;
    border-radius: 15px;
    cursor: pointer;
}

.items h2{
    text-align: left;
    padding-left: 20px;
    font: normal bold 22px Inter;
    color: #00A5EC;
    margin-top: 30px;
}

.items p{
    padding-left: 30px;
    font: normal 20px Inter;
    text-decoration: line-through;
    color: #C2C2C2;
    margin-top: 30px;
}

.items h3{
    padding-left: 30px;
    font: normal 20px Inter;
    color: #424242;
    margin-top: 30px;
}

.items:hover{
    box-shadow: 0px 0px 10px #67676729;
}

.checkbox{
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.prompt-box{
    position: absolute;
    left: 37%;
    top: 25%;
    width: 25%;
    max-height: max-content;
    padding-bottom: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px #67676729;
    border: 1px solid #EDEDED;
    border-radius: 10px;
}

.header-box{
    text-align: left; 
    font: bold 20px Inter;
    color: #404040;
    margin-top: 10px;
    margin-left: 20px;
}

#close{
    padding-left: 205px;
}

.body-box{
    margin-top: 45px;
    margin-left: 20px;
}

#textarea{
    width: 90%;
    background: #F7F7F7;
    border: 1px solid #EDEDED;
    border-radius: 4px;
    font: normal 15px Inter;
    color: #858585;
    resize: none;
}

.footer{
    padding-top: 20px;
    padding-left: 200px;
}

#button{
    height: 40px;
    width: 155px;
    color: #FFFFFF;
    background: #00A5EC;
    border-radius: 10px;
    border: none;
    outline: none;
    font: normal 18pxInter;
    
}